.mypage{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4a4a4a;


}

.mypage .profile-detail-title, .user-name{
    color: #ffffff;
}


.profile-info {
    margin-top: 40px;
    width: 70%;
    border: 3px solid #ffffff;
    align-items: center;
    padding: 30px 50px;
    border-radius: 30px;
    box-sizing: border-box;


}

.profile-info .profile-image{
    margin-bottom: 13px;
}

.profile-inf{
    display: flex;
    /* box-sizing: border-box;
    align-items: center; */
    gap: 150px;

}

.profile-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.profile-in .user-name{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;

}


.profile-info .profile-image {
    background-color: #ebc9ff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
  }


.profile-detail{
    
    width: 60%;
}


.profile-detail .profile-detail-container{
    font-size: 18px;
    margin-bottom: 20px;

}

.profile-detail-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.profile-content{
    margin-top: 40px;

}


.edit-btn-container{
    float: right;
}

.edit-profile-btn {
    margin-top: 8px;
    background-color: #b39ddb ;
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;

}




/* mypage menu list */
.mypage-menu-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    gap: 20px;
    justify-items: center;
}

.mypage-menu{
    border: 3px solid #ffffff;
    padding: 30px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: border 0.3s ease;

    
}

.mypage-menu:hover{
    border-color: #b39ddb;
    outline: none;
}

.mypage-menu-title{
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: color 0.3s ease;

}

.mypage-menu:hover .mypage-menu-title{
    color: #b39ddb;
}