.ProfileCard{
    align-items: center;
    box-sizing: border-box;
    min-height: 200px;
    display: flex;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #ffffff;
    font-size: 18px;
}

.ProfileCard .profile-image {
    background-color: #ebc9ff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.ProfileCard .profile-user-info{
    flex-grow: 1;
    

}
.ProfileCard .user-name{
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
}

.ProfileCard .contact-profile-btn{
    margin-top: 8px;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #b39ddb;
    transition: background-color 0.3s ease;
}
.ProfileCard .contact-profile-btn:hover{
    background-color: #9575cd;
}
