Body {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(135deg, #f8bbd0, #d1c4e9, #b39ddb);
  /* 파스텔 핑크: #f8bbd0, 파스텔 보라: #d1c4e9, 연한 보라: #b39ddb */
  /* height: 100vh; */

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */

  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  color: rgb(195, 131, 255);
  color: #ffffff;
  padding-bottom: 30px;
  
}

.App-user{
  display: flex;
  align-items: center; /* 수직 정렬 (중앙 정렬) */
}

.App-header .profile-image {
  background-color: #ebc9ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  
}
