.App {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */

  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  color: rgb(195, 131, 255);
  padding-bottom: 30px;
  
}


.Home h2{
  margin-bottom: 20px;
  margin-top: 50px;
}

